*{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  background: papayawhip;
  /*rgb(255, 239, 213)*/
  position:relative;;
  color: grey;
}

main{
  width: 60vw;
  margin: 0 auto;
}

#home{
  font-size: 30vh;
  color: grey;
}

.project{
  margin: 5vh 0;
}

.icon{
  border-radius: 20vh;
  background: white;
  height: 20vh;
  width: 20vh;
  overflow: hidden;
  position: relative;
  display: inline-block;
  float: left;
  margin: 1rem;
}
.icon img{
  position: absolute;
  max-width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

nav{
  width: auto;
  float: left;
  top: 2vh;
}

section{
  min-height: 100vh;
  padding: 2rem 0 0 0;
}

h2{
  text-transform: lowercase;
  font-weight: lighter;
  color: grey;
}
.content {
  border-top: 2px solid grey;
  padding: 2rem;
}

.code {
  border: 2px solid Darkgrey;
  width: 80%;
  border-radius: 1vw;
  padding: 1rem;
  color: grey;
  margin: 0 auto;
  font-family: monospace;
}

h1{
  font-size: 2rem;
  text-align: center;
  margin: 0;
  text-transform: lowercase;
}

.contact{
  text-align:center;
}

a{
  color: grey;
  text-decoration: none;
  text-transform: lowercase;
}

i{
  margin: 10px;
}

ul{
  padding: 0;
  text-align: center;
}

.list-inline > *{
  display: inline-block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
