*{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  background: papayawhip;
  position:relative;;
  color: grey;
}

main{
  width: 60vw;
  margin: 0 auto;
}

#home{
  font-size: 30vh;
  color: grey;
}

nav{
  width: auto;
  float: left;
  top: 2vh;
}

nav > a{
  text-transform: lowercase;
}

section{
  min-height: 100vh;
  padding: 2rem 0 0 0;
}

h2{
  text-transform: lowercase;
  font-weight: lighter;
  color: grey;
}
.content {
  border-top: 2px solid grey;
  padding: 2rem;
}

.code {
  border: 2px solid Darkgrey;
  width: 80%;
  border-radius: 1vw;
  padding: 1rem;
  color: grey;
  margin: 0 auto;
  font-family: monospace;
}
/*.half{
  min-width: 400px;
  width:50%;
  float:left;
}*/

h1{
  font-size: 2rem;
  text-align: center;
  margin: 0;
  text-transform: lowercase;
}

/*.edu, .volunteer, .abroad, .employment, .awards {
  border: 2px solid black;
  background: dimgrey;
  margin: 20px;
  padding: 10px;
}*/

.contact{
  text-align:center;
}

a{
  color: grey;
  text-decoration: none;
}

i{
  margin: 10px;
}

ul{
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul>li {
  font-weight: bold;
  font-size: 20px;
}

ul>li>ul>li{
  font-weight: normal;
  font-size: 16px;
  margin: 5px;
}

.descrip{
  margin:10px;
}

.list-inline > *{
  display: inline-block;
}
