*{
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  font-family: 'Raleway', sans-serif;
  background: rgb(168,255,204);
  position:relative;
  color: rgb(28,106,96);
}

nav{
  width: auto;
  float: left;
  top: 2vh;
}

main{
  width: 60vw;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

section{
  min-height: 100vh;
  padding: 2rem 0 0 0;
}

h1{
  font-size: 2rem;
  text-align: center;
  margin: 0;
  text-transform: lowercase;
  color: rgb(195,196,100);
}

h2{
  text-transform: lowercase;
  font-weight: lighter;
}

a{
  color: rgb(83, 110, 85);
  text-decoration: none;
  text-transform: lowercase;
}

i{
  margin: 1rem;
}

ul{
  padding: 0;
  text-align: center;
}

.tree{
  float: right;
  width: 40vw;
}

.tree img{
  position: fixed;
  opacity: .3;
}

.filter{
  background: black;
  opacity: .4;
}

.project{
  margin: 5vh 0;
}

.icon{
  border-radius: 20vh;
  background: white;
  height: 20vh;
  width: 20vh;
  overflow: hidden;
  position: relative;
  display: inline-block;
  float: left;
  margin: 1rem;
}
.icon img{
  position: absolute;
  max-width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

.content {
  border-top: 2px solid rgb(165, 219, 169);
  padding: 2rem;
}

.code {
  border: 2px solid rgb(165, 219, 169);
  overflow-x: scroll;
  width: 80%;
  border-radius: 1vw;
  padding: 1rem;
  margin: 0 auto;
  font-family: monospace;
  font-size: 0.8rem;
}

.contact{
  text-align:center;
}

.list-inline > *{
  display: inline-block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#home{
  font-size: 30vh;
  position: relative;
  z-index: 100;
  color: rgb(195,196,100);
}
